{{ $scratch := .Scratch }}

{{ $scratch.Set "currentSection" (print (.Get 0) "/") }}
{{ $scratch.Set "imgDir" (.Get 1) }}

{{ $currentSection := $scratch.Get "currentSection" }}
{{ $imgDir := $scratch.Get "imgDir" }}
{{ $file := print $currentSection $imgDir ".md" }}

    <div class="adventureCardContainer-outer">
    {{ range .Site.Sections }}
        {{ range .Pages }}
            {{ if eq (print .File) $file }}
                {{ $baseDir := print "/images/" ($scratch.Get "currentSection") }}
                {{ $fullDir := print $baseDir "/full/" ($scratch.Get "imgDir") }}
                {{ $thumbDir := print $baseDir "/thumb/" ($scratch.Get "imgDir") }}
                {{ $walkDir := print "/static" $thumbDir }}
                {{ $files := readDir $walkDir }}
                {{ range $files }}
                    {{ if ne .Name "cover.jpg" }}
                        {{ $fullFile := print $fullDir "/" .Name}}
                        {{ $thumbFile := print $thumbDir "/" .Name}}
                        <div class="adventureCardContainer-inner">
                            <div class="adventureCard">
                                <div class="flexible"></div>
                                <div onclick="slideshowOn(this.childNodes[1].src)">
                                    <img class="galleryImage" src="{{$thumbFile}}">
                                </div>
                            </div>
                        </div>
                    {{ end }}
                {{ end }}
            {{ end }}
        {{ end }}
    {{ end }}
    </div>
