.card {
	height: 3.5in;
	width:  2.5in;
	background-size: 100%;
	display: inline-block;
	position: relative;
	margin-bottom: 0.10in;
	margin-right: 0.20in;
}

.cardType {
float: left;
}

.text {
	background-color: rgba(255,255,255, 0.60);
	padding: 3px;
	border-radius: 10px;
	display: flex;
}

.manaCost {
 	float: right;
	margin-top: 10px;
	margin-right: 10px;
	background: url('/images/cardTemplates/manaCostBorder.png');
	background-color: rgba(255,255,255, 0.60);
	background-size: 100%;
 	background-repeat: round;
	text-align: center;
}
.name {
	float: left;
	margin-top: 10px;
	margin-left: 10px;
	max-width: 170px;
}
.info { 
	float: left;
	margin-left: 10px;
}
.cardTextContainer {
	position: absolute;
	bottom: 10px;
	width: 90%;
	text-align: center;
	margin-left: 5%;
}

.cardText {
	display: inline-flex;
	font-size: xx-small;
}

