<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}
<body>
	{{ partial "navbar.html" . }}
	<div>
		{{ .Content }}
		<div class="adventureCardContainer-outer">
		{{ $baseDir := "/images/m"}}
		{{ $fullDir := print $baseDir "/full/" .Params.imgDir}}
		{{ $thumbDir := print $baseDir "/thumb/" .Params.imgDir}}
		{{ $walkDir := print "/static" $thumbDir }}
		{{ $files := readDir $walkDir }}
		{{ range $files }}
			{{ if ne .Name "cover.jpg" }}
			{{ $fullFile := print $fullDir "/" .Name}}
			{{ $thumbFile := print $thumbDir "/" .Name}}
			<div class="adventureCardContainer-inner">
				<div class="adventureCard">
					<div class="flexible"></div>
					<div onclick="slideshowOn(this.childNodes[1].src)">
						<img class="galleryImage" src="{{$thumbFile}}">
					</div>
				</div>
			</div>
			{{ end }}
		{{ end }}
		</div>
		{{ partial "slideshow.html" . }}
	</div>
</body>
{{ partial "foot.html" . }}
</html>
