body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    color: aliceblue;
    height: 100vh;
    margin: 0;
    font-family: "fantasy6";
    font-size: 1.5rem;
    text-align: center;
}
h1 {
    font-family: "final";
    text-transform: uppercase;
    font-size: 4rem;
    margin-bottom: 0;
}
h2 {
    letter-spacing: 10px;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 2.4rem;
    width: 100%;
}
h1, h2, a {
    text-shadow: black 0 0 10px;
}
a {
    margin: 1rem;
    color: white;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1.5rem;
    text-decoration: none;
}

.disabled {
    display: none!important;
}
