body{
    background-color:#000
}
.sig {
    height: 10rem;
}
p{
    display:inline-block;
    width:100%;
    color:whitesmoke;
    margin:0
}
span{
    color:whitesmoke
}
.buttons{
    margin:1.5rem;
    text-align:center
}
.button{
    border:none;
    color:#fff;
    padding:15px 32px;
    text-align:center;
    text-decoration:none;
    display:inline-block;
    font-size:16px;
    margin:4px 2px;
    cursor:pointer
}
.paragraph{
    -webkit-text-size-adjust:100%;
    margin:1.5rem;
    width:80%;
    margin-left:10%;
    font-size:large;
}
.button.joy{
    background-color:yellow;
    color:#000
}
.button.analytical{
    background-color:aqua;
    color:#000
}
.button.confident{
    background-color:orange;
    color:#000
}
.button.tentative{
    background-color:green;
    color:#000
}
.button.anger{
    background-color:red;
    color:#000
}
.button.sadness{
    background-color:blue
}
.button.fear{
    background-color:purple
}
 
