<link rel="stylesheet" type="text/css" href="/css/entities.css">
<div style="height: 8in;font-size: 2.3in;text-align: center;">don't print me!</div>
{{ range $entityName, $cardInfo := .Site.Data.entities }}
	<div class="card" style="background-image: url(/images/cardTemplates/cardBorder.png), url(/images/cards/entities/{{ replaceRE "[ ,]" "" $entityName }}.png)">
		<span class="text manaCost">{{ .manaCost }}<br>{{ .quickCost }}</span>
		<span class="text name">{{ $entityName }}</span> <br><br>
		<span class="text name">{{ .stats }}</span> <br><br>
		<div class="cardTextContainer">
			<div class="text cardText">
				{{ replace .text "\n" "<br/>" | safeHTML }}
			</div> 
		</div>
	</div>
{{ end }}
