<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <link rel="stylesheet" href="/css/icherishyou.css">
    <style id="dynamicCss">
    </style>
</head>
<div class="buttons">
    <button class="button joy" type="button" onclick='var dynamicStyle = document.getElementById("dynamicCss");dynamicStyle.innerHTML = ".joy{background-color: yellow;color:black;}"'>Joy</button>
    <button class="button analytical" type="button" onclick='var dynamicStyle = document.getElementById("dynamicCss");dynamicStyle.innerHTML = ".analytical{background-color: aqua;color:black;}"'>Analytical</button>
    <button class="button confident" type="button" onclick='var dynamicStyle = document.getElementById("dynamicCss");dynamicStyle.innerHTML = ".confident{background-color: orange;color:black;}"'>Confident</button>
    <button class="button tentative" type="button" onclick='var dynamicStyle = document.getElementById("dynamicCss");dynamicStyle.innerHTML = ".tentative{background-color: green;color:black;}"'>Tentative</button>
    <button class="button anger" type="button" onclick='var dynamicStyle = document.getElementById("dynamicCss");dynamicStyle.innerHTML = ".anger{background-color: red;color:black;}"'>Anger</button>
    <button class="button sadness" type="button" onclick='var dynamicStyle = document.getElementById("dynamicCss");dynamicStyle.innerHTML = ".sadness{background-color: blue;}"'>Sad</button>
    <button class="button fear" type="button" onclick='var dynamicStyle = document.getElementById("dynamicCss");dynamicStyle.innerHTML = ".fear{background-color: purple;}"'>Fear</button>
</div>
<div class="paragraph">
    <span class="">Emma,</span>
</div>
<div class="paragraph">
    <span class="joy">You are strikingly beautiful.</span>
    <span class="analytical">This is surely the first thing anyone notices about you.</span>
    <span class="analytical joy">It didn't take long talking to you to find out that not only are you a super fun conversational partner, but you actually seemed to care about others.</span>
    <span class="">That's so refreshing.</span>
</div>
<div class="paragraph">
    <span class="">You came to my home and immediately fell face first onto the hard concrete.</span>
    <span class="joy">You're so fucking adorable.</span>
    <span class="analytical">Everything you do makes me want to cuddle and protect you.</span>
    <p><span class="">Get closer to you.</span></p>
    <p><span class="analytical">Get to know you.</span></p>
    <p><span class="analytical joy">That night we discovered that we like so many of the same things!</span></p>
    <p><span class="">I couldn't stop talking to you.</span></p>
    <p><span class="analytical joy">Then I couldn't stop kissing you.</span></p>
    <span class="tentative sadness">Every time I thought I was about to lean away, there was something about you right there to pull me in harder.</span>
    <p><span class="">Your eyes.</span></p>
    <p><span class="">Your voice.</span></p>
    <p><span class="anger">Your words.</span></p>
    <p><span class="fear anger">Your arms.</span></p>
    <p><span class="confident joy">I loved every moment of that night.</span></p>
    <span class="analytical confident joy">To make a flawless encounter even better, you proved that you are an absolutely incredible lover.</span>
    <span class="joy">You are so caring, generous, and knowledgeable.</span>
    <span class="joy">It's admirable, and so are you.</span>
</div>
<div class="paragraph">
    <span class="">You've opened up and gotten more comfortable, and now that you display your sense of humor, you're fucking hilarious.</span>
    <span class="joy">There are so many little things that you do and say that echo throughout the day (lllllick, most k indeed, the snape voice hahaha).</span>
    <span class="tentative">Sometimes you send a text message and it leaves me giggling for the next few days (^.^).</span>
</div>
<div class="paragraph">
    <span class="joy">I love you so much, Emma.</span>
    <span class="">And have so much to offer.</span>
    <span class="analytical confident">The fact that you are attracted to me validates me.</span>
    <span class="tentative joy">I'm elated by the opportunity to spend time with you, because it feels so satisfying to be around you.</span>
    <span class="analytical joy">I love the way you appreciate music.</span>
    <span class="joy">I love how you touch my shoulders when I'm playing the piano, reminding me to relax my form.</span>
    <span class="analytical joy">I love the way and frequency you touch me in general.</span>
    <span class="sadness">It fills my heart with joy and my brain with dopamine (writing this letter to you as I'm missing you fills me with cope-amine).</span>
    <span class="joy">I love the way you live.</span>
    <span class="">You're organized, thoughtful, and minimalistic.</span>
</div>
<div class="paragraph">
    <span class="joy">I love that we use the same toothbrush, so when we visit eachother and forget one it's no big deal.</span>
    <span class="joy">I love that there are a hundred little compatibilies like this.</span>
</div>
<div class="paragraph">
    <span class="joy">I love how quick and intelligent you are.</span>
    <span class="analytical confident sadness">You have a firm grasp on how to approach problems in a way that solves for both the logistical and emotional needs of a hard situation.</span>
    <span class="">I value this so much.</span>
    <span class="analytical joy">The moment I discoved this was when I knew that I loved you.</span>
    <span class="tentative">Before, it was just attraction.</span>
    <span class="analytical">Now there is an indescribable force within that gravitates me to you.</span>
    <span class="">You are so emotionally aware and caring.</span>
    <span class="analytical">You can articulate your feelings meaningfully and honestly.</span>
    <span class="analytical joy">You can hear others and understand them providing a gentle supportive presence in the conversation.</span>
    <span class="tentative analytical">You think about the things you choose to say, and when you haven't given something thought you generally won't say it.</span>
    <span class="anger">These mental and social assets are super fucking valuable and criminally uncommon.</span>
</div>
<div class="paragraph">
    <span class="joy">I love that you are open and willing to expand your comfort zone and go on adventures with me!</span>
    <span class="joy">Even if you don't do them much on your own, you are still super eager to go on rides with me, and do fun stuff together like climbing, hiking, floating and all that awesome shit!</span>
    <span class="tentative analytical fear">You don't seem to be afraid to try an idea out when we disagree and then watch it play out.</span>
    <span class="analytical">You are also very good at concisely pointing out the flaws in my logic and approach in a way that comes across as a suggestion or question, as opposed to denegration.</span>
    <span class="analytical confident joy">Because of this, I find your presence makes me sharper and think more clearly.</span>
    <p><span class="">This is (and this can't be stressed enough) --in.</span>
    <span class="anger">fucking.</span>
    <span class="">valuable--</span></p>
</div>
<div class="paragraph">
    <span class="">Emma.</span>
</div>
<div class="paragraph">
    <span class="">You are exceptional.</span>
    <span class="analytical confident">I absolutely cherish you.</span>
</div>
<div class="paragraph">
    <img class="sig" src="/images/icherishyou/sig.png">
</div>
<div class="paragraph">
    <span class="analytical">I can't wait to get to know the rest of you.</span>
</div>
</html>
